.big_container {
  text-align: center;
  font-family: sans-serif;
  background-color: #00539cff;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.select_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.input_container {
  width: 150px;
  height: 30px;
  font-size: 20px;
  margin: 5px auto;
  outline: 0;
}
