.big_container {
  margin-top: 5rem;
  background-color: whitesmoke;
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 1rem;
  margin: auto 0.5rem;
  padding: 0.5rem;
}

.select_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 2rem auto;
}

.input_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  width: 50%;
  flex-wrap: wrap;
  margin-top: 0.5rem;

  margin: 2rem auto;
}

.convert_button {
  margin-top: 0.5rem;
}
