* {
  margin: 0;
  padding: 0;
}

.home {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

@media (min-width: 1250px) {
  .logoMobile img {
    display: none;
  }
}
@media (min-width: 801px) {
  .logoMobile img {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  .save-title {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: whitesmoke;
    background-color: #2f807e;
    border-radius: 10px;
  }
  .title {
    display: flex;
    justify-content: center;
  }

  .city {
    background-color: whitesmoke;
    height: 40vh;
    margin: 20px;
  }

  .title-button-container {
    display: flex;
    column-gap: 1em;
    padding: 0.5em;
    justify-content: space-between;
  }
  .button-more {
    color: whitesmoke;
    background-color: #3a9a98;
    border-radius: 5px;
    width: 7em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: darkcyan;
  }

  .yt-video {
    width: 40vh;
    height: 30vh;
    border-radius: 20px;
    padding: 1vh;
  }
  .logoMobile img {
    width: 7rem;
    display: block;
    z-index: 9999;
    position: absolute;
    left: 20px;
    top: 30px;

    filter: invert(100%);
  }
  @media (min-width: 801px) {
    .logoMobile img {
      display: none;
    }
  }
}


@media screen and (min-width: 940px) {
  .save-title {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: whitesmoke;
    background-color: #2f807e;
  }
  .title {
    display: flex;
    justify-content: center;
  }

  .city {
    background-color: whitesmoke;
    height: 60vh;
    margin: 20px;
  }

  .title-button-container {
    display: flex;
    column-gap: 1em;
    padding: 0.5em;
    justify-content: space-between;
  }
  .button-more {
    color: whitesmoke;
    background-color: #3a9a98;
    border-radius: 5px;
    width: 25em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .yt-video {
    width: 90vh;
    height: 50vh;
    border-radius: 20px;
    padding: 2vh;
    padding-left: 10vh;
  }
}

@media screen and (min-width: 940px) {
  .save-title {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: whitesmoke;
    background-color: #2f807e;
    border-radius: 10px;
  }

  .footer-title {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: darkcyan;
  }
  .title {
    color: grey;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
  }

  .city {
    background-color: whitesmoke;
    height: 60vh;
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .title-button-container {
    display: flex;
    font-size: 5rem;
    column-gap: 1em;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .button-more {
    color: whitesmoke;
    background-color: #3a9a98;
    border-radius: 5px;
    width: 7em;
    height: 1em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .yt-video {
    width: 90vh;
    height: 50vh;
    border-radius: 20px;
    padding: 2vh;
    padding-left: 10vh;
  }
}

