* {
  margin: 0;
  padding: 0;
}

.home {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.save-title {
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
}

.city1 {
  background-color: whitesmoke;
  height: 40vh;
  margin: 20px;
  
}

.yt-video {
    width: 40vh;
    height: 30vh;
    border-radius: 20px;
    padding: 1vh;
}

