* {
  margin: 0;
  padding: 0;
}

.home {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.title {
  display: flex;
  justify-content: center;
}

.city1 {
  background-color: blanchedalmond;
  height: 40vh;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.city2 {
  background-color: yellowgreen;
  height: 40vh;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.city3 {
  background-color: aquamarine;
  height: 40vh;
  margin: 20px;
  display: flex;
  justify-content: center;
}
